<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Membership</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="onelegacy-regular image-bg" no-bounce>
  <div padding>
    <ion-segment color="light" [(ngModel)]="membership">
      <ion-segment-button class="font-16" value="Basic">
        Basic
      </ion-segment-button>
      <ion-segment-button class="font-16" value="Standard">
        Standard
      </ion-segment-button>
      <ion-segment-button class="font-16" value="Premium">
        Premium
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="membership">

    <ion-card padding class="font-18" *ngSwitchCase="'Basic'">
      <h2>Our basic package provides you one unique video allowing you to share your life legacy, for family and friends to remember
        you by.
        <ul>
          <li> Included:</li>
          <li> 1 video </li>
          <li> personal Mark (name and Qr code plaque)</li>
        </ul>
      </h2>
      <button *ngIf="paymentStatus == 'Free'" ion-button block class="font-18" color="palegold" (click)="stripeModal('Basic', false)">Buy Now</button>
    </ion-card>



    <ion-card padding class="font-18" *ngSwitchCase="'Standard'">
      <h2>Our standard package provides you with three unique videos allowing you to share a more personal and valued life legacy,
        for your family and friends to remember you by.
        <ul>
          <li> Included:</li>
          <li> 3 videos (5 mins each) </li>
          <li> personal Mark (name and Qr code plaque)</li>
        </ul>
      </h2>
      <button *ngIf="paymentStatus == 'Free'" 
        ion-button block class="font-18" color="palegold" (click)="stripeModal('standard', false)">Buy Now</button>
      <button *ngIf="paymentStatus == 'Basic'" ion-button block class="font-18" color="palegold" (click)="stripeModal('Standard', true)">Upgrade</button>
    </ion-card>


    <ion-card padding class="font-18" *ngSwitchCase="'Premium'">
      <h2>Our premium package is our most valued package. It provides you with 10 unique videos, allowing a very detailed and
        personal life legacy to be shared, as well as the capability to share personal messages which will no doubt be heart
        felt and highly valued for individual loved ones to remember you by.
        <ul>
          <li> Included:</li>
          <li> 10 videos (5 mins each) </li>
          <li> personal Mark (name and Qr code plaque)</li>
        </ul>
      </h2>
      <button *ngIf="paymentStatus == 'Free'"
        ion-button block class="font-18" color="palegold" (click)="stripeModal('premium', false)">Buy Now</button>
      <button *ngIf="paymentStatus == 'Basic' || paymentStatus == 'Standard'" ion-button block class="font-18" color="palegold" (click)="stripeModal('Premium', true)">Upgrade</button>
    </ion-card>

  </div>



</ion-content>