<ion-header>

 <ion-navbar class="onelegacy-regular" color="paleblue">
       <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Other Users video</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="image-bg onelegacy-regular">
  <!--<div *ngFor="let video of videos">
    <h4>{{video.title}}</h4>
    <video src={{video.video}} height="300" width="300" controls></video>
    <p>{{video.description}}</p>
  </div>-->
  <div>
    <!--<h4>AALNLJNSDF</h4>
    <video src="https://firebasestorage.googleapis.com/v0/b/onelegacy-f0695.appspot.com/o/oLNrcayvzkc6Ajxy1YPXqEy0MQ82%2Fvideos%2F4?alt=media&token=c91133c6-97e0-448b-a1c6-2d0c8fc05084"
     height="300" width="300" controls></video>
    <p>slngfjlsgrn</p>
    <h4>AALNLJNSDF</h4>
    <video src="https://firebasestorage.googleapis.com/v0/b/onelegacy-f0695.appspot.com/o/oLNrcayvzkc6Ajxy1YPXqEy0MQ82%2Fvideos%2F5?alt=media&token=e9aea650-48fe-49c5-b458-d7ca9b926d4b" 
      height="300" width="300" controls></video>
    <p>slngfjlsgrn</p>-->

     <ion-card padding style="background: rgba(255,255,255,0.7)">
      <video src="https://firebasestorage.googleapis.com/v0/b/onelegacy-f0695.appspot.com/o/oLNrcayvzkc6Ajxy1YPXqEy0MQ82%2Fvideos%2F4?alt=media&token=c91133c6-97e0-448b-a1c6-2d0c8fc05084" style="width:100%; height:180px; margin-top:20px" controls></video>
      
    <ion-card-title>
    AALNLJNSDF
      </ion-card-title>
    <p>
     slngfjlsgrn
    </p>
  
  
    
 
      </ion-card>

  </div>
</ion-content>