<ion-header>

 <ion-navbar class="onelegacy-regular" color="paleblue">
       <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="color:#1e4a6b" class="onelegacy-regular">
  <div text-center>
<img class="margin-top-lg" style="width:50%" src="assets/img/bg.jpg" alt="">
<ion-item>
  <button color="paleblue" ion-button block clear>Change Image</button>
</ion-item>
<p  style="color:#1e4a6b" class="font-20">FirstName LastName</p>
</div>

<ion-list>
   <ion-item>
  <p class="font-24">Membership status</p>
</ion-item>
 <ion-item>
  <p class="font-24">Email</p>
</ion-item>  
<ion-item>
  <p class="font-24">Number: Primary</p>
</ion-item> 
<ion-item>
  <button color="paleblue" ion-button block clear>Change Number</button>
</ion-item>

<ion-item>
  <p class="font-24">Number: Secondary</p>
</ion-item> 
<ion-item>
  <button color="paleblue" ion-button block clear>Change Number</button>
</ion-item>

<ion-item>
  <p class="font-24">Password: ************</p>
</ion-item> 
<ion-item>
  <button color="paleblue" ion-button block clear>Change Password</button>
</ion-item>
</ion-list>



</ion-content>
