<ion-header>

  <ion-navbar color="paleblue">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="onelegacy-regular image-bg" no-bounce>
  <div text-center>
    <img class="margin-top-lg" style="width:80%" src="assets/img/logo-tag.png" alt="">
  </div>

  <div padding style="margin-top:50px;">
    <form [formGroup]="signupForm">
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Name" formControlName="userName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>DOB</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" formControlName="dob"></ion-datetime>
        </ion-item>


        <ion-item>
          <ion-input type="number" placeholder="Contact" formControlName="contact"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Secondary Contact" formControlName="secondaryContact"></ion-input>
        </ion-item>

      </ion-list>
    </form>
    <button ion-button block class="font-18" color="paleblue" (click)="signup()">Register</button>
  </div>

</ion-content>