<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
       <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>My Videos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="image-bg onelegacy-regular">
  <div >
    
    <div *ngFor="let video of videos | async; let i = index">
      <ion-card padding style="background: rgba(255,255,255,0.7)">
      <video src={{video.video}} style="width:100%; height:180px; margin-top:20px" controls></video>
       
    <ion-card-title>
     {{video.title}}
      </ion-card-title>
    <p>
      {{video.description}}
    </p>
   
  
    
  <div text-right>
     <button ion-button class="font-18" clear icon-left color="danger" (click)="deleteVideo(video.$key, video.storageNumber)"><ion-icon name="trash"></ion-icon>Delete</button>
     </div>
      </ion-card>
          
    </div>

  </div>
  
</ion-content>