<ion-header>
  <ion-navbar class="onelegacy-regular" color="paleblue">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="font-size:18px;" padding class="onelegacy-regular" no-bounce>

<div style="color:#1e4a6b">
Death is the ultimate end of every life cycle. It's hard to leave loved ones with only distant memories, to hold and cherish. One Legacy started as an idea to preserve life beyond the barrier of death. <br>
As we battled the concept of life, mortality and loved ones, the question arose, how can we attain true immortality? To not just be another name to our descendants? Is it possible to live through other media that wouldn't be wiped away in history?<br>
We, at OneLegacy, will help you remain connected with your loved ones, descendants and absolutely anyone in the future whoever wants to know you and about your time on earth. How do we do this? It is simple, we have created an app that allows you to make videos of yourselves, saying or doing whatever describes you best or what you want to be remembered for.<br>
This video is saved in our database, and once done, you will be sent a physical name plate with a QR code that can be engraved onto your gravestone. So anybody that visits your graveside and scans this barcode can easily see the video and be imparted with a part of you. It is as simple as that,<br></div>
<div style="color:#1e4a6b">
  <p style="font-weight:bold">We offer three kinds of packages<p>

    <li>The basic package: 1 video and a name plaque.</li>
    <li>the standard package: 3 videos and a name plaque </li>
    <li>premium package: 10 videos and a name plaque </li>
 
</div>
<div style="color:#1e4a6b"><br>
This simple method, as it seems will ensure that you will forever live in their hearts and minds and the world will continue to know the wonderful soul that once walked its surface.<br>
Your videos will never be erased, and as long the QR code is scanned, a part of you will forever be left imprinted on the world.<br>
Any questions you might have about our services are welcome and encouraged. We, at OneLegacy, believe that this brings us one step closer to attaining immortality in effects and living. And we would love you to join us as we all leave permanent footprints in the sands of time. </div>

</ion-content>
