<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
      <!--<button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>-->
    <ion-title>Change Password</ion-title>
     <ion-buttons start>
        <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding class="onelegacy-regular">
  <p class="font-20" style="color:#db2002" text-center *ngIf="passMatch == false">Password doesnot match</p>
  <form [formGroup]="passwordForm">
  <ion-item class="no-padding">
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <div  class="no-border" *ngIf="!passwordForm.controls.password.valid  &&
      (passwordForm.controls.password.dirty || submitAttempt)">
      <p style="color: #ea6153">Your password needs more than 6 characters.</p>
    </div>

      <ion-item class="no-padding">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <div  class="no-border" *ngIf="!passwordForm.controls.confirmPassword.valid  &&
      (passwordForm.controls.confirmPassword.dirty || submitAttempt)">
      <p style="color: #ea6153">Your password needs more than 6 characters.</p>
    </div>
  </form>
<button ion-button block margin-top small="true" text-center class="font-18" color="paleblue" (click)="confirm()">Change Password</button>
</ion-content>
