// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
    .image-bg{
    background: url('../assets/img/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
.padding-button{
	padding: 16px 16px 0 16px;
}

.font-6{
	font-size:6px;
}
.font-7{
	font-size:7px;
}
.font-8{
	font-size:8px !important;
}
.font-9{
	font-size:9px;
}
.font-10{
	font-size:10px;
}
.font-11{
	font-size:11px;
}
.font-12{
	font-size:12px;
}
.font-14{
	font-size:14px;
}
.font-16{
	font-size:16px;
}
.font-18{
	font-size:18px !important;
}
.font-20{
	font-size:20px;
}
.font-22{
	font-size:22px;
}
.font-24{
	font-size:24px;
}
.font-26{
	font-size:26px;
}
.font-28{
	font-size:28px;
}
.font-30{
	font-size:30px;
}
.font-32{
	font-size:32px;
}
.font-36{
	font-size:36px;
}
.font-40{
	font-size:40px;
}





//Global margin and padding:
.no-padding{
		padding: 0;
}
.no-margin{
	margin:0;
}
.no-margin-top{
	margin-top: 0px;
}
.no-margin-bottom{
	margin-bottom:0px;
}
.no-padding-left{
	padding-left:0;
}
.no-padding-right{
	padding-right:0;
}
.no-padding-top{
	padding-top:0;
}
.no-padding-bottom{
	padding-bottom:0;
}
.padding-left{
	padding-left: 8px;
}
.padding-right{
	padding-right:8px;
}
.padding-top{
	padding-top:8px;
}
.padding-bottom{
	padding-bottom: 8px;
}

.padding-tp-12{
	padding-top:12px;
}
.padding-bt-12{
	padding-bottom:12px;
}

.margin-left{
	margin-left: 8px;
}
.margin-right{
	margin-right:8px;
}
.margin-top{
	margin-top:8px;
}
.margin-bottom{
	margin-bottom: 8px;
}

.margin-left-lg{
	margin-left: 16px;
}
.margin-right-lg{
	margin-right:16px;
}
.margin-top-lg{
	margin-top:16px;
}
.margin-bottom-lg{
	margin-bottom: 16px;
}

//Text alignment
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}

.text-white{
color: white;
}

.bg-white{
background-color: white;

}

.banner{
	// width: 100%;
    // height: 50px;
    text-align: center;
    color:#303030;
    // background-color:#f75d34;
    // line-height: 50px;
	font-size: 22px;
	padding-top:20px;
	padding-bottom:20px;
}

.banner-home{
	width: 100%;
    height: 50px;
    text-align: center;
    color:white;
    background-color:#f75d34;
    //line-height: 50px;
	font-size: 22px;
	padding-top:14px;
	//padding-bottom:14px;
	
}

.button-app{
	height:50px; font-size: 22px;
}


//Text-Shadows
.shadow{
	text-shadow: 1px 1px 4px #000000 ;
}


//cards
.card{
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

//loader

.timeline-wrapper{
        margin-top:20px;
    }
.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 ;
    border-radius: 3px;
    padding: 12px;

   margin: 0 auto;
    max-width: 472px;
    min-height: 200px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8 ;
    background: linear-gradient(to right, #343b4b 8%, #675a19 18%, #343b4b 33%);
    background-size: 800px 104px;
    position: relative;
}



.p-back{
    height: 150px;
    width: 100%;
}