<ion-menu [content]="content">
  <ion-header class="onelegacy-regular" color="paleblue">
    <ion-navbar color="paleblue">
      <ion-title>Menu</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content style="background:#1e4a6b" class="onelegacy-regular">
    <ion-list>
      <button color="paleblue" ion-item (click)="home()">Home</button>
      <button color="paleblue" ion-item (click)="membership()">Membership Status: {{paymentStatus}}</button>
      <button color="paleblue" ion-item>Profile</button>
      <button color="paleblue" ion-item (click)="qrCode()">Your QR Code</button>
      <button color="paleblue" ion-item>Contact Us</button>
      <button color="paleblue" ion-item>About Us</button>
      <button color="paleblue" ion-item (click)="logout()">Logout</button>
    </ion-list>
    <div text-center style="position: absolute;
    bottom: 20px;">
      <img text-center width="50%" src="assets/img/logowhite.png">
      </div>

  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>