<ion-header>
  <ion-navbar class="onelegacy-regular" color="paleblue">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="onelegacy-regular image-bg" no-bounce>
  <div text-center>
    <img class="margin-top-lg" style="width:80%" src="assets/img/logo-tag.png" alt="">
  </div>

  <div padding style="margin-top:50px;">
    <form [formGroup]="contactForm">
      <ion-list>
      
        <ion-item>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea type="text" placeholder="Any query or question type here" formControlName="query"></ion-textarea>
        </ion-item>

      </ion-list>
    </form>
    <button ion-button block class="font-18" color="paleblue" >Send</button>

    <p style="font-size:18px">Feel free to contact us on: 08001534229</p>

  </div>

</ion-content>
