<ion-header>

  <ion-navbar>
    <ion-title>Preview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <video src={{filePath}} height="300" width="300" controls></video>
</ion-content>

<ion-footer>
  <button ion-button (click)="recordNew()">Record New</button>
  <button ion-button (click)="proceed()">Proceed</button>
</ion-footer>