<ion-header>

  <ion-navbar class="onelegacy-regular" color="paleblue">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Upload Video</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="onelegacy-regular image-bg">
  <!--<h4>Title</h4>-->

  <div padding style="margin-top:50px;">
   
      <ion-list>

        <ion-item>
          <ion-input  type="text"  [(ngModel)]="title" placeholder="Title"></ion-input>
        </ion-item>

        <ion-item>
         <ion-textarea [(ngModel)]="description" placeholder="Type a description for your video"></ion-textarea>
        </ion-item>

      </ion-list>
    <button ion-button block color="palegold" class="font-18" (click)="saveVideo(filePath)">Upload</button>
 
  </div>
</ion-content>
